<?xml version="1.0" encoding="UTF-8" ?>
<!-- /WEB-INF/applicationContext.xml -->
<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation=
"http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

<bean id="dataSource"
class="org.springframework.jdbc.datasource.DriverManagerDataSource"  >
  <property name="driverClassName">
  <value>org.mariadb.jdbc.Driver</value>
  </property>
  <property name="url">
  <value>jdbc:mariadb://gudi.kr:3306/gdj41</value>
  </property>
  <property name="username"><value>gdj41</value>
  </property>
  <property name="password"><value>gdj41</value>
  </property>
</bean>
</beans>